nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
    background-color: #666;
  }
  
  nav button {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav button:hover {
    background-color: #0f0;
    color: #fff;
  }
  
  nav form input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
  }
  
  @media screen and (max-width: 768px) {
    nav ul {
      display: none;
    }
    
  }
  